[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "*"
chardet = "*"
idna = "*"
# Patched versions compatible with Python 3.13
requests = "==2.32.5"
urllib3 = "==2.5.0"
netaddr = "*"
# Latest compatible for 3.13+
python-dotenv = "==1.1.1"

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
